* {
  font-family: "Radley", serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(248, 248, 248);
}

h1 {
  text-align: center;
}

.card {
  display: flex;
  gap: 1em;
  justify-content: center;
}

#card2 > p,
h3 {
  margin-left: 0.5em;
}

#card3 > p,
h3 {
  margin-left: 0.5em;
}

.card > #card2,
#card3 {
  flex-basis: 1em;
  /* Neumorphism Border */
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #f8f8f8;
  -webkit-box-shadow: 7px 7px 28px #d5d5d5, -7px -7px 28px #ffffff;
  box-shadow: 7px 7px 28px #d5d5d5, -7px -7px 28px #ffffff;
}
